
.about--page {

  section {
    
    // border: 2px dashed maroon;

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    h4,
    ul {
      font-size: 1.2rem;

      li {
        margin-left: 2rem;
        list-style-type: circle;
      }
    }

    article {
      margin-left: 1rem;
      padding: 1rem;

      h3, h4 {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
      }

      h4 {
        margin-bottom: 0;
        color: $faded;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
        font-weight: 400;
      }

      p {
        margin-bottom: .5rem;

        &.intro {
          margin-bottom: 0;
          font-size: 1.1rem;
        }
      }

      ul {
        margin-bottom: .5rem;

        li {
          margin-left: .5rem;
          display: flex;
          align-items: center;

          img {
            max-width: 32px;
            display: inline-block;
            margin-right: .5rem;
          }

          a {
            color: $acc;
            text-decoration: none;
            transition: color .2s ease-in-out;
            
            &:hover {
              color: $acc-h;
            }
          }
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 1rem;
      }

      .ico {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        gap: 1rem;

        img {
          max-width: 60px;
        }
      }
    }
  }
}

