.home {
  position: relative;
  width: 100%;
  max-width: 840px;
  height: 100%;
  max-height: 740px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(12, 1fr);

  #hero {
    grid-column: 5/10;
    grid-row: 3/7;
    display: grid;
    place-items: center;
    padding: .5rem;
    background: rgba(255, 255, 255, 0.72);
    border: 4px solid rgba(255, 255, 255, 0.50);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.12);
    z-index: 4;

    h1 {
      margin: 0;
    }
  }

  #btn-action {
    padding: .5rem 1rem;
    color: $neu;
    background: $acc;
    border-radius: $border-radius;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background .2s ease-in-out;
  
    &:hover {
      background: $acc-h;
    }
  }

  img {
    width: 100%;
  }
  
  #server {
    grid-column: 7/13;
    grid-row: 1/8;
    z-index: 1;
  }

  #desktop {
    grid-column: 1/9;
    grid-row: 4/8;
    z-index: 2;
  }
  
  #phone {
    grid-column: 3/6;
    grid-row: 1/6;
    z-index: 3;
  }

  @media (max-width: 678px){
    #hero {
      grid-column: 3/11;
      grid-row: 2/6;
    }

    #desktop {
      grid-column: 1/12;
      grid-row: 4/8;
    }

    #phone {
      grid-column: 2/6;
      grid-row: 1/6;
    }

    #server {
      grid-column: 6/13;
      grid-row: 1/7;
    }
  }
}