.home {
  height: 100%;
  position: relative;

  .home--text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    z-index: 9;
    overflow: hidden;

    div {
      padding: 2rem 4rem;
      background: rgba(255, 255, 255, 0.50);
      border: 4px solid rgba(255, 255, 255, 0.50);
      border-radius: 10px;
      backdrop-filter: blur(4px);
      box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.12);
    }
  }

  .home--images {

    img {
      width: 100%;
    }
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template: repeat(8, 1fr) / repeat(12, 1fr);
    overflow: hidden;
  
    #server {
      grid-column: 7/12;
      grid-row: 3/7;
      z-index: 1;
    }
  
    #desktop {
      grid-column: 2/10;
      grid-row: 4/8;
      z-index: 2;
    }
    
    #phone {
      grid-column: 9/11;
      grid-row: 5/8;
      z-index: 3;
    }
  
    @media (max-width: 768px) {
      #server {
        grid-column: 6/13;
        grid-row: 1/7;
        z-index: 1;
      }
    
      #desktop {
        grid-column: 1/12;
        grid-row: 4/9;
        z-index: 2;
      }
      
      #phone {
        grid-column: 2/6;
        grid-row: 1/6;
        z-index: 3;
      }
    }
  }

  .btn-action {
    padding: .5rem 1rem;
    color: $neu;
    background: $acc;
    border-radius: $border-radius;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background .2s ease-in-out;
  
    &:hover {
      background: $acc-h;
    }
  }
}