.prjs {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;

  .prj {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 1rem;

    @media (max-width: 1024px) {
      display: block;
    }

    &::after {
      content: '- - - - -';
      margin: 1rem 0;
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      color: rgba(255,255,255,0.5);
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.6rem;
      letter-spacing: 1ch;
    }

    .prj-descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: .5rem;

      h3 {
        color: $faded;
      }

      .links a {
        padding: .5rem 1rem;
        color: $acc;
        font-weight: bold;
        transition: color .2s ease-in-out;

        &:hover {
          color: $acc-h;
        }
      }

      .prj-tech {
        display: flex;
        justify-content: flex-start;

        @media (max-width: 1024px) {
          justify-content: center;
        }

        img {
          width: 54px;

          &:not(:last-of-type) {
            margin-right: 1rem;
          }
        }
      }
    }

    .prj-img {

      @media (max-width: 1024px) {
        display: grid;
        place-items: center;
      }
    }
  }
}