*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  background: #e6e7e9;
  color: #131313;

  overflow-y: scroll;
}

h1, h2, h3, h4, h5 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

h1 {
  margin: 1rem 0 2rem;
}

h2 {
  margin-bottom: 1rem;
}

h3, h4, p {
  margin-bottom: .5rem;
}

a {
  display: inline-block;
}