@import './vars';
@import './mixin';
@import './resets';
@import './wrapper';
@import './nav';
@import './home';
@import './projects';
@import './about';


main {
  @include contain();
  padding: 1rem 0 2rem;
  
}