
$acc: #76a4f9;
$bg-light: #fefeff;
$bg-gray: #e6e7e9;
$bg-dark: #282829;
$bg-dark-o: hsla(240, 1%, 16%, .8);
$secondary: #323233;
$text-faded: #a6a7a9;
$shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.17); 
$shadow-text: 2px 2px 4px rgba(0, 0, 0, 0.2);

@mixin container {
  display: grid;
  grid-template-columns: 10% 1fr 10%;

  @media (max-width: 768px) {
    grid-template-columns: 5% 1fr 5%;
  }

  @media (min-width: 1440px) {
    max-width: 1168px;
    margin: 0 auto;
    grid-template-columns: 0% 1fr 0%;
  }
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  color: $bg-gray;
  background-color: $bg-dark;

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

  overflow-y: scroll;
  scroll-behavior: smooth;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  transition: color .2s ease-in-out;

  &:hover {
    color: $acc;
  }
}

h1 {
  text-shadow: $shadow-text;
  font-size: clamp(40px, 8vw, 80px);
  letter-spacing: .1ch;
}

h2 {
  color: $text-faded;
  text-shadow: $shadow-text;
  font-size: clamp(20px, 5vw, 46px);
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: .1ch;
  text-shadow: $shadow-text;
}

h4 {
  color: $text-faded;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: .1ch;
}

p {
  letter-spacing: .1ch;
  line-height: 1.3;
}

.btn {
  padding: 1rem 1.5rem;
  color: $acc;
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid $acc;
  border-radius: 3px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color .2s ease-in-out;

  &-sm {
    padding: .5rem 1rem;
    border: 1px solid $acc;
    font-size: .9rem;
  }

  &:hover {
    background-color: rgba($color: $acc, $alpha: .17);
  }
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.highlight {
  color: $acc;
  font-family: 'Courier New', Courier, monospace;
}

.spacing {
  & * + * {
    margin-top: 1rem;
  }
}

header,
main,
footer {
  @include container();
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 19;

  @media (min-width: 1440px) {
    left: 50%;
    transform: translateX(-50%);
  }

  nav {
    grid-column: 2/3;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $bg-dark-o;
    backdrop-filter: blur(10px);

    .logo {
      font-size: 1.4rem;
      font-weight: 700;
      letter-spacing: .2ch;
      margin-right: auto;
    }

    .nav {
      display: flex;
      counter-reset: jtc;

      &-item {
        counter-increment: jtc;
        margin-right: 2.5rem;

        &::before {
          content: "0" counter(jtc) ".";
          font-size: .9rem;
          font-family: 'Courier New', Courier, monospace;
          color: $acc;
        }
      }

      &-link { 
        padding: .5rem 0;
      }
    }
  }
}

section {
  grid-column: 2/3;
  min-height: 100vh;
  padding-top: 4rem;

  .heading {
    position: relative;
    overflow: hidden;

    &-index,
    &-text {
      color: $text-faded;
      background-color: $bg-dark;
      font-weight: 400;
    }

    &-index {
      color: $acc;
      font-size: 1.2rem;
      font-family: 'Courier New', Courier, monospace;
    }

    &-text {
      padding-right: 2rem;
    }

    &::after {
      content:"";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.5em;
      width: 75%;
      border-top: 1px solid $bg-gray;
      opacity: .2;
      z-index: -1;

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &:first-child {
    margin-top: -4rem;
  }

  .short-desc {
    max-width: 52%;
    line-height: 1.5;
    letter-spacing: 0.1ch;

    @media (max-width: 768px) {
      max-width: 80%;
    }
  }
}



.project {
  position: relative;
  margin-top: 10vh;
  display: grid;

  .image {
    display: grid;
    align-items: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9;

    .prj-desc {
      padding: 1rem;
      background-color: $secondary;
      border-radius: 5px;
    }

    ul {
      display: flex;

      li {
        margin: 0;
        text-transform: capitalize;
        
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      }
    }

    & > * + * {
      margin-top: 1.5rem;
    }
  }

  &.left {
    grid-template-columns: 5fr 3fr;
    
    .image {
      order: 1;
    }
    .description {
      order: 2;
      align-items: flex-end;

      .prj-desc {
        margin-left: -40%;
        box-shadow: $shadow;
        text-align: right;
      }

      .links a {
        padding-left: .5rem;
        text-decoration: underline;
      }
    }
  }

  &.right {
    grid-template-columns: 3fr 5fr;

    .image {
      order: 2;
    }

    .description {
      order: 1;
      align-items: flex-start;

      .prj-desc {
        margin-right: -40%;
        box-shadow: $shadow;
      }

      .links a {
        padding-right: .5rem;
        text-decoration: underline;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 8vh;

    &.left,
    &.right {
      grid-template-columns: 1fr;
      grid-row: minmax(280px, 1fr);

      .image {
        order: 1;
      }

      .description {
        order: 2;
        margin-top: -26%;
        padding: 1rem;
        background-color: $bg-dark-o;
        backdrop-filter: blur(10px);

        & > * + * {
          margin-top: .8rem;
        }

        .prj-desc {
          margin-left: 0;
          margin-right: 0;
          padding: 0;
          box-shadow: none;
          background: transparent;
        }
      }
    }
  }
}



#contact {
  min-height: 60vh;

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2, p, a {
      margin-top: 1.5rem;
    }

    h2 {
      color: $bg-light;
    }

    p {
      max-width: 60%;
      margin: 1.5rem auto 0;
      color: $text-faded;
      text-align: center;

      @media (max-width: 768px) {
        max-width: 80%;
      }
    }
  }
}



.footer-content {
  grid-column: 2/3;
  padding: 2.5rem;
  display: grid;
  place-items: center;
}


.social {
  position: fixed;
  bottom: 0;
  left: 4%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  color: $text-faded;
  z-index: 29;

  a {
    padding-bottom: .75rem;
  
    svg {
      width: 24px;
      height: 24px;

      path {
        fill: $bg-gray;
        transition: fill .2s ease-in-out;
      }
    }

    &:hover {
      svg path {
        fill: $acc;
      }
    }
  }

  @media (max-width: 768px) {
    position: relative;
    bottom: unset;
    left: unset;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: .75rem;
    padding: .5rem 0;
    a {
      padding-bottom: 0;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}




::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: $text-faded; 
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.75);
}
::-webkit-scrollbar-thumb:hover {
  background: $bg-gray; 
}
